html {
    background-color: #d1d1d1;
    font-family: sans-serif;
}

#workspace {
    padding-bottom: 10px;
}

#left-workspace, #right-workspace {
    height: 480px;
}

#workspace-identifier {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

#execution-button {
    border-radius: 2px;
    padding-top: 2px;
    font-size: 22px;
    width: 175px;
    margin: 15px;
}

#toolbar {
    padding: 5px;
    background-color: #d1d1d1;
}

#toolbar button {
    border-radius: 2px;
    font-size: 18px;
    margin-right: 5px;
    width: 150px;
}
