html {
    background-color: #f8f8f8;
    font-family: sans-serif;
}

.container {
    width: 100%;
    display: grid;
}

.header {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    grid-row: 1 / 2;
}

.workspace {
    height: 480px;
    width: 100%;
    grid-row: 2 / 3;
}